<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TwitterNotifierSprocketRepository"
         connectionString="Data Source=.\SQLExpress;Initial Catalog=TwitterNotifierSprocketRepository;Integrated Security=SSPI;;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- This is the app's consumer key - get your own here http://dev.twitter.com -->
    <add key="Application.ConsumerKey" value=""/>
    <add key="Application.ConsumerSecret" value=""/>
    <!-- 
          This is your *user* token - you can create one on the app configuration page 
          on Twitter. 
    -->
    <add key="User.Token" value=""/>
    <add key="User.TokenSecret" value=""/>
    <add key="Application.Gravatar" value="sethwebster+jabbrynotify@gmail.com" />
  </appSettings>
</configuration>