<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TwitterNotifierSprocketRepository"
         connectionString="Data Source=.\SqlExpress;Initial Catalog=TwitterNotifierSprocketRepository;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <elmah>
    <security allowRemoteAccess="1" />
  </elmah>
  <appSettings>
    <add key="Bot.Name" value="twitterbot" />
    <add key="Bot.Password" value="twitterbot!2011" />
    <add key="Bot.Server" value="http://jabbr.net" />
    <add key="Bot.RoomList" value="jabbot,meta,jabbr,twitterbot-admin,twitterbot" />
    <!-- This is the app's consumer key - get your own here http://dev.twitter.com -->
    <add key="Application.ConsumerKey" value="y5TvkIjUqrLUf3HDkW1wkg"/>
    <add key="Application.ConsumerSecret" value="Ad2UPJv3yF9VpamarfJldPsj3sw8Q26dryrf0JbTphU"/>
    <add key="User.Token" value="432792083-0olCcitUfhSK3UZKP0MmMwia5IGPq95JL1ZgQfP1"/>
    <add key="User.TokenSecret" value="yf5PsowjT8VRkhrhZ0K34WC75XojrpJVbsDAcj9qrI"/>
    <add key="Application.Gravatar" value="sethwebster+jabbrnotify@gmail.com"/>
    <add key="Moment.ApiKey" value="20qGeYgrUZhZOqHtQHjt" />
    <add key="Application.HostBaseUrl" value="http://localhost:54419" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>